fastapi
uvicorn
python-dotenv
pydantic
sqlalchemy
pdfplumber
langchain-core
langchain-text-splitters
langchain-chroma
langchain-google-genai
langchain-ollama
google-genai
chromadb
python-multipart
psutil
pyjwt
requests
cryptography
pyjwt[crypto]
psycopg2-binary
langchain-huggingface
sentence-transformers