langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-ollama
langchain-community
chromadb
sentence-transformers
pdfplumber
langchain-experimental
torchvision
fastapi
uvicorn
sqlalchemy
python-multipart
